<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

      
    <authentication-manager>
        <authentication-provider>
            <password-encoder ref="passwordEncoder"/>
            <jdbc-user-service 
                data-source-ref="dataSource"
                users-by-username-query=
		    "select username,password,enabled from customer where username=?"
                authorities-by-username-query=
		    "SELECT c.username as username, a.roleName as role
                    FROM customer c, accountrole a
                    WHERE c.customerId = a.Customer_customerId
                    AND c.username = ? " />
            
             
        </authentication-provider>
            
            
    </authentication-manager>

    <http pattern="/resources/**" security="none" />
    
    
    <http use-expressions="true">
		
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/resources/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/customer/**" access="hasAnyRole('ROLE_ADMIN','ROLE_CUSTOMER')" />
        <intercept-url pattern="/staff/**" access="hasAnyRole('ROLE_ADMIN','ROLE_STAFF')" />
        <intercept-url pattern="/home" access="permitAll" />
        <intercept-url pattern="/confirm" access="permitAll" />
        <intercept-url pattern="/cart/checkout" access="hasAnyRole('ROLE_ADMIN','ROLE_CUSTOMER')" />
        
        
        <access-denied-handler error-page="/403" />
		
        <form-login 
            login-page="/login" 
            default-target-url="/home" 
            authentication-failure-url="/login?error"
            login-processing-url="/j_spring_security_check"
            
            username-parameter="username"
            password-parameter="password" 
            authentication-success-handler-ref="myAuthenticationSuccessHandler"
        />
            
        <logout logout-success-url="/login?logout"  />
    </http>
    
    <!--authentication-success-handler-ref="myAuthenticationSuccessHandler" -->
    <beans:bean id="myAuthenticationSuccessHandler"
                class="com.nhattrung.controller.UrlAuthenticationSuccessHandler">
    </beans:bean>
    
    <beans:bean id="passwordEncoder" 
                class="org.springframework.security.authentication.encoding.Md5PasswordEncoder">
    </beans:bean>
    
    <!-- <beans:bean id="userDetailsManager" 
                class="org.springframework.security.provisioning.JdbcUserDetailsManager">
        <beans:property name="dataSource" ref="dataSource" />        
    </beans:bean> -->
        
</beans:beans>
